{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="sobrenos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.sobrenos.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <p>{{ with .Site.Params.sobrenos.left }}{{ . | markdownify }}{{ end }}</p>
        </div>
            <div class="col-lg-4">
                <p>{{ with .Site.Params.sobrenos.right }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="{{ with .Site.Params.sobrenos.button.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline">
                    <i class="fa fa-{{ with .Site.Params.sobrenos.button.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.sobrenos.button.text }}{{ . }}{{ end }}
                </a>
            </div>
        </div>
    </div>
</section>
