{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="sobrenos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.sobrenos.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-2">
            <p>{{ with .Site.Params.sobrenos.left }}{{ . | markdownify }}{{ end }}</p>
        </div>
            <div class="col-lg-4">
                <p>{{ with .Site.Params.sobrenos.right }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
    <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3797.853570645992!2d-60.74472653566958!3d-17.845497981482055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x938d036a381ee535%3A0x2c7deda273e94f7f!2sPlaza%20Principal%20San%20Jose%20de%20Chiquitos%2C%20San%20Jos%C3%A9%20de%20Chiquitos!5e0!3m2!1ses-419!2sbo!4v1573881186903!5m2!1ses-419!2sbo" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>



