<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="index">

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}
        {{ partial "portfolio-grid.html" . }}
        {{ partial "about.html" . }}
        {{ partial "sobrenos.html" . }}
        {{ partial "contact.html" . }}


        {{ partial "footer.html" . }}
        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}

    </body>
</html>
